*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    background-color: rgb(80, 80, 80) !important;

    /* Main CSS */
    width: 500px;
    margin: 30px auto 0 auto;
    border-radius: 5px;
    border: 2px solid #c4c4c4;

}